.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  color: #67748e;
}

.profile {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.image {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.img {
  width: 70%;
  height: 70%;
  justify-content: center;
  display: flex;
  margin-bottom: 10%;
}

.img img {
  width: 100%;
  height: auto;
}
.detailsHead {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.likes {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5%;
  font-size: 12px;
}

.details {
  width: 100%;
  height: fit-content;
}

.static {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  width: 40%;
  height: fit-content;
  border: 1px solid #17c1e8;
  border-radius: 8px;
  letter-spacing: -0.04em;
  color: #17c1e8;
  margin-bottom: 3%;
  background-color: black;
  padding: 10px;
}

.txt {
  margin-left: 3px;
}

.number {
  font-weight: 600;
  color: #60b6f4;
}
.detailsMain {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.detailsTxt {
  font-size: 14px;
}
.detailsLink {
  display: flex;
  justify-content: left;
}
.detailsLinktxt {
  margin-top: 1%;
  color: #17c1e8;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: left;
  align-items: center;
}

.detailsLinktxt img {
  height: 16px;
  width: auto;
  margin-left: 5px;
}

.foot {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-image: url("../../public/images/foot.png");
  background-size: cover;
  color: #ffffff;
}

.footTxt {
  width: 80%;
  height: 90%;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left {
  flex-direction: column;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
}
.leftTxt {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.leftTxtHead {
  transform: rotate(180deg);
}

.leftLinks {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 10px;
}

.leftLinks a {
  color: #ffffff;
}
.right {
  margin-top: 10px;
  display: flex;
  width: 80%;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.rightTxt {
  width: 100%;
}
.rightIcon {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rightlink {
  width: 25%;
}
.rightlink img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 600px) {
  .detailsHead {
    flex-direction: row;
    justify-content: space-between;
  }
  .likes {
    margin-top: 3%;
    width: 60%;
  }
  .button {
    width: 20%;
  }
  .footTxt {
    flex-direction: row;
  }
  .left {
    width: 50%;
    justify-content: left;
    text-align: left;
  }
  .leftTxt {
    text-align: left;
    margin-bottom: 15px;
  }
  .leftTxtHead {
    text-align: right;
  }
  .right {
    width: 50%;
    justify-content: right;
    text-align: right;
  }
}
@media screen and (min-width: 1000px) {
  .profile {
    flex-direction: row;
  }
}
